<div class="auth">
  <form class="auth__form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mm-icon class="auth__form-icon-close" size="m" [iconName]="'close'" (click)="closeForgotPasswordPopup()"></mm-icon>
    <h3 class="auth__form-title">{{ forgotPasswordText.formTitle }}</h3>
    <fieldset class="auth__form-group">
      <mm-email-input
        class="auth__form-email auth__form-email_forgot"
        [placeholder]="forgotPasswordText.emailPlaceholder"
        [formGroup]="form"
        [formControlName]="controlName.Email"
      ></mm-email-input>
      <button
        class="auth__form-btn auth__form-btn_forgot"
        mmButton
        mmType="primary"
        size="l"
        type="submit"
        [disabled]="form.invalid || vm().isSubmitting"
      >
        {{ forgotPasswordText.button }}
      </button>
      <div class="auth__form-forgot-wrap">
        <span class="auth__form-register-link" (click)="openAuthPopup(authPopupType.LOGIN)">Увійти</span>
        /
        <span class="auth__form-register-link" (click)="openAuthPopup(authPopupType.REGISTER)">Зареєструватись</span>
      </div>
    </fieldset>
  </form>
</div>
