@use "typography";
@use "spacing";
@use "borders";

.password-input {
  @include typography.font-regular-14;

  width: 100%;
  padding: spacing.$spacing-5;
  color: var(--color-input-text);
  background: var(--color-input-bg);
  border-radius: borders.$border-radius-6;
  border: 1px solid var(--color-input-border);

  &:focus {
    outline: none;
  }

  &.ng-invalid.ng-touched {
    border: 1px solid #f80032;
  }

  &__wrap {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
    cursor: pointer;
  }

  &__validator {
    display: flex;
    align-items: center;

    &-icon {
      margin-right: 4px;
    }

    &--whitespace {
      @include typography.font-regular-12;

      margin: 4px auto 0 0;
      padding-left: 4px;
      color: #f80032;
      text-align: start;
    }

    &--error {
      @include typography.font-regular-12;

      padding-left: 4px;
      color: #f80032;
      text-align: start;
    }

    &--active {
      @include typography.font-regular-12;

      margin: 4px auto 0 8px;
      color: #8e8e8e;
      text-align: start;

      .password-input__validator-icon {
        color: green;
      }
    }
  }
}
