@let isInvalid = control.touched && control.invalid;

<div class="password-input__wrap" [formGroup]="formGroup()">
  <input
    class="password-input"
    [type]="isPasswordVisible ? controlTypes().Text : controlTypes().Password"
    [placeholder]="placeholder()"
    [formControlName]="formControlName()"
    [formControl]="control"
  />
  @if (showToggle) {
    <mm-icon
      class="password-input__icon"
      size="m"
      (click)="toggleVisibility()"
      [iconName]="isPasswordVisible ? 'eye-show' : 'eye-hide'"
    ></mm-icon>
  }
</div>

@if (isInvalid && showValidationMessage()) {
  <pu-validation-message [errors]="control.errors"></pu-validation-message>
}
@if (control.value !== "" || control.errors?.["minlength"] || control.errors?.["maxlength"]) {
  <p
    class="password-input__validator password-input__validator--error"
    [class.password-input__validator--active]="!(control.value === '' || control.errors?.['minlength'] || control.errors?.['maxlength'])"
  >
    <mm-icon
      class="password-input__validator-icon"
      size="s"
      [iconName]="
        !(control.value === '' || control.errors?.['minlength'] || control.errors?.['maxlength']) ? 'checkpoint-yes' : 'checkpoint-no'
      "
    ></mm-icon>
    <span>Не менше 6 і не більше 14 символів.</span>
  </p>
}
