@mixin display-flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin display-flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@mixin display-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
