:host {
  display: inline-flex;
}

.mm-rating {
  &__wrapper {
    display: inline-flex;
    align-items: center;
  }

  &__icon {
    display: inline-flex;
    margin-right: 8px;
  }

  &__text {
    color: var(--color-rating-text);
    margin-top: 2px;
  }
}
